/*** =====================================================
This document contains elements used in the application

author: kc-slg
created on: 31/05/2017
last update: 14/06/2017
===================================================== ***/

// contents ------------
//  - layout
//		- header
//	- display
//	- ui
// ---------------------

////////////////////////////////////////////////////////////////////////////////
//  layout elements                                                           //
////////////////////////////////////////////////////////////////////////////////

.header{
	&--mobile{
		@include hide-for(large);
	}
	&--desktop{
		@include show-for(large);
		//border-bottom: $el__border;
		background-color: $white;
	}
}

.page-opening{
	@extend %section-spacer--alpha;
	&__wrap{
		@include grid-row;
	}
}

.section{
	&__bg-color{
		&--light{
			@extend %bg__color--grey;
		}
	}
	&__single{
		@include grid-col-row;
	}
	&__full{
		//@extend .row, .expanded;
		@include grid-row(null, null, expand, true, $grid-column-gutter);
	}
}

.parallax-wrap{ 
	@extend %bg__img, %parallax-window;
}

.not-home{
	@include breakpoint(medium down){
		@include scut-padding(spacer(lg) n n n);	
	}
}

.aside{
	//@extend .medium-3, .columns;
	@include show-for(medium); 
	@include grid-col(3);
}

.main{
	&--with-aside{
		//@extend .small-12, .medium-9, .large-8, .large-offset-1, .columns;
		@include grid-col(12);
		@include breakpoint(medium){
			@include grid-col-size(9);
		}
		@include breakpoint(large){
			@include grid-col-off(1);
			@include grid-col-size(8);
		}
		@include scut-margin(n n spacer(lg) n);	
	}
}

%section-spacer{
	@include scut-margin(n n spacer(md) n);
	@include breakpoint(medium){
		@include scut-margin(n n spacer(xxlg) n);
	}
	@include breakpoint(large){
			@include scut-margin(n n spacer(lg) n);
		}
	&--alpha{
		@include scut-margin(spacer(md) n);
		@include breakpoint(medium){
			@include scut-margin(spacer(xxlg) n);
		}
		@include breakpoint(large){
			@include scut-margin(spacer(lg) n);
		}	
	}
}

/*** 
layout variation one 

***/

%unit-grid{
	@include grid-row;
	@include breakpoint(large){
		@include grid-row(12, null, rem-calc(800px), true, $grid-column-gutter);	
	}
	@include breakpoint(xlarge){
		@include grid-row(12, null, rem-calc(1000px), true, $grid-column-gutter);	
	}
}

.layout-one{
	@include scut-margin(n n spacer(md) n);
	@include breakpoint(large){
		@include scut-margin(n n spacer(xlg) n);	
	}
	&__wrap{
		@extend %unit-grid;
	}
	&__img{
		@extend %bg__img;
		@include grid-col(12, 0);
		padding-top: 62.5%;
		@include breakpoint(small only){
			@include scut-margin(n n spacer(xs) n);
		}
		@include breakpoint(medium){
			@include grid-col-size(6);
			padding-top: 31.25%;
		}
		@include breakpoint(large){
			@include grid-col-size(4);
			padding-top: 22.5%;
		}
	}
	&__txt{
		@include grid-col(12);
		@include breakpoint(medium){
			@include grid-col-size(6);
		}
		@include breakpoint(large){
			@include grid-col-off(2);
			@include grid-col-size(6);
			@include grid-col-end;
		}
	}
}

/*** 
layout variation two

***/
 
.layout-two{
	@include scut-margin(n n spacer(xlg) n);
	&__wrap{
		@extend %unit-grid;
	}
	&__txt{
		@include grid-col(12);
		@include breakpoint(medium){
			@include grid-col-size(6);
		}
		@include breakpoint(large){
			@include grid-col-size(6);
		}
	}
	&__img{
		@include hide-for-only(small);
		@include breakpoint(medium){
			@include grid-col(6);
			padding-top: 31.25%;
		}
		@include breakpoint(large){
			@include grid-col(3);
			@include grid-col-off(1);
			@include grid-col-end;
			padding-top: 37.5%;
		}	
	}
}

/*** 
layout variation three 

***/

.layout-three{
	@include scut-margin(n n spacer(xlg) n);
	&__wrap{
		@extend %unit-grid;
	}
	&__img{
		@include grid-col(12);
		padding-top: 62.5%;
		@include breakpoint(small only){
			@include scut-margin(n n spacer(xs) n);
		}
		@include breakpoint(medium){
			@include grid-col-size(6);
			padding-top: 31.25%;
		}
		@include breakpoint(large){
			@include grid-col-size(4);
			padding-top: 22.5%;
		}	
	}
	&__txt{
		@include grid-col(12);
		@include breakpoint(medium){
			@include grid-col(6);	
		}
		@include breakpoint(large){
			@include grid-col-off(2);
			@include grid-col-size(6);
			@include grid-col-end;
		}
	}
}

.section-title{
	@include grid-col(12);
	color: palette(brand);
	@include font-scale(base, $font-oxygen);
	text-transform: uppercase;
	letter-spacing: rem-calc(1px);
	@include scut-margin(n n spacer(xs) n);
	@include breakpoint(large){
		@include grid-col-collapse();
		@include scut-margin(n n spacer(md) n);
	}
}

.list-title{
	color: palette(brand);
	@include font-scale(base, $font-oxygen);
	text-transform: uppercase;
	letter-spacing: rem-calc(1px);
	@include breakpoint(large){
		@include scut-margin(n n spacer(xxs) n);
	}
}


////////////////////////////////////////////////////////////////////////////////
//  display elements                                                          //
////////////////////////////////////////////////////////////////////////////////
.print-logo{
	@extend .show-for-print;
}

%bg{
	&__img{
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;	
	}
	&__color{
		&--grey{
			background-color: palette(grey, light);
		}
	}
}

%parallax-window{
	background-color: $color__transparent;
}

.data-list{
	@extend .show-for-print;
}

.sticky{
	width: 100%;
}

////////////////////////////////////////////////////////////////////////////////
//  ui elements                                                               //
////////////////////////////////////////////////////////////////////////////////
.h-menu{
	@extend .menu;
	& > li{
		& > a{
			@include font-scale(sm-md);
			@include scut-selected(true){
				color: palette(brand);
			}
		}
	}
	& .active > a{
		background-color: $color__transparent;
		color: palette(brand);
		//border-bottom: 1px solid palette(brand);
	}
}

.magellan-menu{
	@extend .vertical, .menu;
	width: 100%;
	& > li{
		border-top: 1px solid palette(grey, dark);
		&:last-child{
			border-bottom: 1px solid palette(grey, dark);
		}
	}
	& > li > a{
		@include font-scale(xs, $font-oxygen);
		color: palette(grey, dark);
		position: relative;
		@include scut-padding(spacer(xxs) 0);
		@include transition(all 0.2s ease-in);
			&::before{
				content: "\35";
				font-family: "ElegantIcons";
				font-size: 1.1rem;
				color: palette(brand);
				@include scut-absolute(n n n spacer(xs)*-1);
				@include opacity(0);
				@include transition(all 0.2s ease-in);
			}
			&.active{
			color: palette(brand);
			@include scut-padding(n n n spacer(xs));
			&::before{
				color: palette(brand);
				@include scut-absolute(n n n 0);
				@include opacity(1);
			}
		}
		@include scut-selected(true){
			color: palette(brand);
			@include scut-padding(n n n spacer(xs));
			&::before{
				color: palette(brand);
				@include scut-absolute(n n n 0);
				@include opacity(1);
			}
		}
	}

}

/*** list ***/
.list{
	@include font-scale(sm-md);
	@include scut-margin(n n spacer(xs) n);
	@include breakpoint(large){
		@include font-scale(base);
	}
	&--bulleted{
		@extend .list;
		& > li{
			display: table-row;
			&::before{
				content: "\2022";
				color: palette(brand);
				@include font-scale(md);
				position: relative;
				@include scut-padding(n spacer(xxs) n n);
				display: table-cell;
			}	
		}
	}
	&--selectable{
		@extend .list--bulleted;
		& > li > a{
			border-bottom: 1px solid palette(brand);
			@include scut-selected(true){
				color: palette(brand);
			}
		}
	}
	&--nested{
		@extend .list--bulleted;
	}
}

.secondary-list{
	@include scut-margin(n n spacer(sm) n);
}

.secondary-list > .list--bulleted{
	@include font-scale(xs, $font-oxygen);
	& > li{
		&::before{
			@include font-scale(sm, $font-oxygen);
		}	
	}
}

%button--custom{
	@include scut-padding(rem-calc(18px) rem-calc(22));
	min-width: rem-calc(180px);
	background-image: linear-gradient(to right, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
	background-position: 100% 0%;
	background-size: 200% 100%;
	background-color: $color__transparent !important;
	@include font-scale(xs, $font-oxygen);
	text-transform: uppercase;
	letter-spacing: rem-calc(1px);
}

.button{	
	&--default{
		@extend .button, %button--custom;
		color: palette(grey, dark);
		border: $el__border;
		border-color: palette(grey, dark);
		@include transition(all 0.2s ease-in);
		&::after{
			content: "\35";
			font-family: "ElegantIcons";
			font-size: 1.1rem;
			float: right;
			@include scut-margin(rem-calc(-1px) n n rem-calc(10px));
		}
		@include scut-selected(){
			color: palette(brand); 
			background-position: 0% 0%;
			//border-color: $color__transparent;
		}
		@include breakpoint(large){
			@include scut-selected(){
				border-color: $color__transparent;
			}
		}
	}
	&--primary{
		@extend .button--default;
		background-image: linear-gradient(to right, palette(brand), palette(brand) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
		@include scut-selected(){
			color: $white;
		}
	}
}

/*** google-map ***/
.map--single{
	//@extend .small-12;
	@include grid-col(12, 0);
	height: rem-calc(280px);
	@include breakpoint(large){
		height: rem-calc(320px);
	}	
}