////////////////////////////////////////////////////////////////////////////////
//  cover                                                     	  			  //
////////////////////////////////////////////////////////////////////////////////

.cover{
	@include grid-col(12, 0);
	@include breakpoint(large){
		@include grid-col-size(9);
	}
	&__wrap{
		@include grid-row(nest);
	}
	&__img{
		@extend %bg__img;
		padding-top: 62.5%;
		@include breakpoint(large down){
			@include scut-margin(n n spacer(xs) n);	
		}
		@include breakpoint(medium){
			padding-top: 38%;	
		}
		@include breakpoint(large){
			padding-top: 42%;	
		}
	}
	&__txt{
		@include grid-col(12);
		@include breakpoint(medium){
			@include grid-col-size(10);
			@include grid-col-end;
		}
		@include breakpoint(large){
			@include grid-col-off(2);
			@include grid-col-size(9);
			background-color: palette(grey, light);
			@include scut-padding(spacer(sm) spacer(md));
			@include scut-margin(spacer(xlg)*-1 n n n);	
		}	
	}
}