////////////////////////////////////////////////////////////////////////////////
//  masonry                                                     		      //
////////////////////////////////////////////////////////////////////////////////

.masonry{
	@include show-for(large);
	@include scut-margin(n n spacer(lg) n);
	&__wrap{
		@include scut-padding(spacer(xlg) n);
	}
	&__grid{
		//@extend .large-12, .columns;
		@include grid-col(12, 0);
	}
	&__row{
		@include grid-row();
		overflow: visible;
		&::before,
		&::after{
			content: "";
    		display: block;
    		clear: both;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
//  blocks                                                     		          //
////////////////////////////////////////////////////////////////////////////////

.blocks{
	//@extend .large-6, .columns;
	@include grid-col(6, 0);
	height: rem-calc(200px);
	&__single{
		//@extend .large-6, .columns;
		@include grid-col(6);
		min-height: rem-calc(200px);
		&--rt{
			//@extend .blocks__single, .large-offset-6;
			@extend .blocks__single;
			@include grid-col-off(6);
		}
		&--lt{
			//@extend .blocks__single, .large-6, .end;
			@extend .blocks__single;
			@include grid-col(6);
			@include grid-col-end;
		}
	}
}

.block{
	position: relative;
	&__wrap{
		@include scut-center-transform;
		&--v{
			@include scut-center-transform(y);
		}
	}
	&__img{
		@extend %bg__img;
		&--lg{
			height: rem-calc(400px);
		}
	}
	&__txt{
		background-color: palette(grey, light);
		@include scut-padding(spacer(xs) spacer(sm));
		&--dark{
			@extend .block__txt;
			background-color: palette(grey, dark);
			color: palette(grey, x-light);
		}
	}
}

/*** override foundation collapse padding ***/
.row.collapse{
	& > .block{
		&__txt{
			@include scut-padding(n spacer(sm));
		}
	}
}