////////////////////////////////////////////////////////////////////////////////
//  team overview - home                                                      //
////////////////////////////////////////////////////////////////////////////////

.team-overview{
	@include scut-margin(spacer(md) n);
	@include breakpoint(large){
		@include scut-margin(spacer(lg) n);
	}
	&__profile{
		@extend .medium-6, .large-offset-3, .large-6, .columns;
		@include hide-for-only(small);
	}
	.section-opening{
		@include hide-for-only(medium);
	}
}

.profile{
	@include scut-padding(n n spacer(lg) n);
	&__img{
		@extend .medium-12, .large-4, .columns, %bg__img;
		@include breakpoint(medium){
			height: rem-calc(180px);
		}
		@include breakpoint(large){
			height: rem-calc(260px);
		}
		&--shift{
			@extend .profile__img;
			@include breakpoint(large){
				@include scut-margin(spacer(lg)*-1 n n n);		
			}
		}
	}
	&__content{
		@extend .medium-12, .large-8, .columns;
	}
	&__title-wrap{
		@include breakpoint(medium){
			@include scut-margin(n n spacer(xs) n);	
		}
		@include breakpoint(large){
			@include scut-margin(n n spacer(md) n);	
		}
	}
	&__link{
		@include font-scale(xs, $font-oxygen);
		font-weight: 700;
		//font-style: italic;
		text-transform: uppercase;
		color: palette(grey);
		@include scut-padding(n n spcer(xs) n);
		border-bottom: 1px solid palette(grey, dark);
		@include scut-selected(true){
			color: palette(brand);
		}
		&::before,
		&::after{
			//font-style: normal;
		}
		&::before{
			content: "View ";
		}
		&::after{
			content: "'s full profile";
		}
	}
}
