////////////////////////////////////////////////////////////////////////////////
//  site masthead                                                     		  //
////////////////////////////////////////////////////////////////////////////////

.site-hero{
	position: relative;
	&__cover{
		height: rem-calc(320);
		@extend %bg__img, %parallax-window;
		@include breakpoint(medium){
			height: rem-calc(480);	
		}
		@include breakpoint(xlarge){
			height: rem-calc(620);	
		}
	}
	&__statement{
		&--fixed{
			// @extend .small-12, .columns;
			@include hide-for-only(small);
			max-width: rem-calc(550px);
			@include scut-fixed(55% n n n);
			@include scut-margin(n n n spacer(xs)*1.25);
			@include breakpoint(xlarge){
				@include scut-fixed(60% n n n);
				@include scut-margin(n n n spacer(lg)*1.35);
			}
		}
		&--mobile{
			@include show-for-only(small);
			@include grid-col(12);
			@include scut-padding(0.8rem n);
		}
	}
}